GITHUB_TOKEN=
GITHUB_USERNAME=
GOOGLE_API_KEY=
GOOGLE_CX=
YOUTUBE_CHANNEL_URL=https://www.youtube.com/@automatewithmusfiraai
WEBSITE_URL=https://musfiraai.com
LINKEDIN_URL=https://www.linkedin.com/in/musfira-ai-b3218b39b
INSTAGRAM_URL=https://instagram.com/musma_n55
GMAPS_URL=https://share.google/kJchUsfQyABVLghSF
REPOS_PER_DAY_MIN=2
REPOS_PER_DAY_MAX=5
